<div class="row">
  <div class="small-8 columns">
    <%= render :partial => "task_details" %>
  </div>
  <div class="small-4 columns">
    &nbsp;
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy task -->
<%= render partial: "partials/object_options", locals: {model_name: "task", object: @task}  %>



