<div class="row">
  <div class="small-8 columns">
    <%= render :partial => "task_details" %>
  </div>
  <div class="small-4 columns">
    &nbsp;
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy project -->
<%= render :partial => "task_list_edit_destroy" %>


