<div class="row">
  <div class="small-8 columns">
    <% if @users.empty? %>
      <h3>No users at this time</h3>
    <% else %>
      <h3>List of Users</h3>
      <%= render :partial => "users_list" %>
    <% end %>
  </div>
  <!-- <div class="small-1 columns">&nbsp;</div> -->
  <div class="small-4 columns">
    &nbsp;
  </div>
</div>

<!-- Add a button for new users -->
<%= link_to(new_user_path, class: "button radius") do %>
  <i class="fa fa-plus"></i>
  &nbsp;Add a New User
<% end %>

