<div class="row">
	<div class="small-7 columns">
		<%= render :partial => "project_details" %>
		<br />
		<%= render :partial => "project_assignments" unless @project_assignments.empty? %>
	</div>
	<div class="small-5 columns">
		<%= render :partial => "project_tasks" unless @project_tasks.empty? %>
	</div>
</div>

<!-- Add buttons to list all, edit project or destroy project -->
<%= render :partial => "project_list_edit_destroy" %>

